<div class="container">
    <div class="photo1"><img src="../../assets/img/Jeff.jpg" alt="Jeff Bezos"></div>
  
    <div class="photo2"><img src="../../assets/img/Marissa.jpg" alt="Marissa"></div>
  
    <div class="photo3"><img src="../../assets/img/Mark.jpg" alt="Mark Zuckerberg"></div>
  
    <div class="photo4"><img src="../../assets/img/satya.jpg" alt="Satya Nadella"></div>
  
    <div class="photo5"><img src="../../assets/img/sundhar.jpg" alt="Sundhar"></div>
  
    <div class="photo6"><img src="../../assets/img/Tim.jpg" alt="Tim"></div>
  </div>